html {
	width: 100%;
	height: 100%;

	min-width: 800px;
}

body {
	width: 100%;
	height: 100%;

	font-size: 1em;
}

#wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;

	z-index: 98;
}

#head {
	width: 100%;
	background-color: #ccc;
	padding-left: 20px;
}

#head .head-name {
	width: 100%;
	height: 80px;

	font-size: 2em;

	display: inline-block;
	vertical-align: middle;
	line-height: 80px;
}

#container {
	width: 100%;
	height: 100%;
}

#content-left-1 {
	height: 100%;
	width: 280px;

	background-color: #f2f2f2;
}

#content-left-2 {
	height: 100%;
	width: 250px;
}

.content-left {

	float: left;
	display: inline-block;
	position: relative;

	border-right: 1px solid #ccc;
}

.content-left .task-list {
}

.content-left .task-list .all-items {}

.content-left .task-list .icon-folder-open, .icon-file{
	margin-left: 20px;
	margin-right: 8px;
}

.content-left .task-list li {
	position: relative;
	height: 30px;

	display: flex;
	align-items: center;
}

.content-left .task-list li:hover {
	box-shadow: 1px 1px 1px;
	border-radius: 5px 5px;
	z-index: 102;
}

.content-left .task-list .items-list li:hover .icon-remove {
	display: inline-block;
	
}

.content-left .task-list .choose {
	background-color: #fff;
	box-shadow: 1px 1px 1px;
	border-radius: 5px 5px;
	z-index: 101;
}

.content-left .task-list .items-list .icon-remove {
	position: absolute;
	right: 10px;
	font-size: 1.3em;
	display: none;
}

/*.content-left .task-list .item-list .ul-task {
	margin-left: 40px;
}
*/
.all-items:hover, .list-name:hover, li:hover {
	/*background-color: #fff;*/
	cursor: pointer;

}

.content-left .task-list .item-list .icon-file {
	padding-left: 20px;
}

.item-bottom {
	position: absolute;
	bottom: 0px;

	width: 100%;
	height: 150px;
	border-top: 1px solid #ccc;
	background-color: #e8e8e8;
	cursor: pointer;
}

.item-bottom:hover {
	background-color: #fff;
}

.item-bottom .add-item {
	height: 100px;
	position: absolute;
	top:50%;
	left: 20px;
	transform:translate(0,-50%);
}

.item-bottom .add-item .icon-plus {
	margin-right: 10px;
}

.item-bottom span {
	font-size: 1.2em;
}

#content-left-2 .task-menu {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: #f2f2f2;
}

#content-left-2 .task-menu .sel-button {
	width: 60px;
	height: 30px;

	display:flex;justify-content:center;align-items:center;
	cursor: pointer;
}

#content-left-2 .task-menu .sel-button:nth-child(1) {
	background-color: #fff;
}

#content-left-2 .task-menu .sel-button:hover {
	background-color: #fff;
}

#content-left-2 .task-message .task-date {
	display: flex;
	align-items: center;

	height: 35px;
	background-color: #FFFFF0;

	padding-left: 20px;
}

#content-left-2 .task-message li{
	display: flex;
	align-items: center;

	height: 30px;

	padding-left: 30px;
}

#content-left-2 .task-message li:hover {
	background-color: #f2f2f2;
}

/*content-right*/
#content-right {
	position: absolute;
	top: 80px;
	left: 530px;
	right: 0px;
	bottom: 0px;
}

#content-right .task-title {
	font-size: 1.5em;

	height: 70px;

	padding-left: 20px;

	background-color: #f2f2f2;

	display: flex;
	align-items: center;

	border-bottom: 1px solid #ccc;
}

#content-right .task-title i {
	position: absolute;
	right: 20px;
}

#content-right .task-title .icon-check {
	right: 70px;
}

#content-right .task-title input {
	padding: 7px 10px;
	width: 224px;
}

#content-right .select-date {
	height: 70px;
	display: flex;
	align-items: center;

	background-color: #FFFFF0;

	border-bottom: 1px solid #ccc;

	padding-left: 20px;
}

#content-right .task-content .content {
	
}

#content-right .task-content .textarea-content,.content {
	position: absolute;
	left: 10px;
	top: 150px;
	width: 98%;
	bottom: 60px;
	outline: none;
	border: 0px;
	font-size: 1.1em;
}

#content-right .task-content .bottom-area {
	position: absolute;
	height: 60px;
	bottom: 0px;
	width: 100%;
}

#content-right .task-content .bottom-button {
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);

	right: 20px;
}

#content-right .task-content .bottom-button button {
	margin-right: 20px;

	padding: 8px 20px;

	background-color: #f8f8f8;
}

#content-right .task-content .bottom-button button:hover {
	background-color: #ccc;
}

/*cover*/

.cover {
	background-color: rgba(0,0,0, 0.6);

	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	z-index: 99;

	color: #000;
}

.cover .modal {
	height: 200px;
	width: 360px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	background-color: #eee;

	padding: 15px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);

	z-index: 100;
}

.cover .modal .modal-head {
	font-size: 1.5em;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-bottom: 1px dashed #ccc;


}
